/* navbar responsiveness */

@media only screen and (max-width: 426px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
        right: 15px;
        top: 5px;
    }

    .left {
        width: auto;
    }

    .left .box {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .center {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .center a {
        margin-left: unset;
        padding: 5px 0;
    }

    .right {
        width: 100%;
        padding: 6px 0;
    }

    /* index page responsiveness */

    .home-container {
        flex-direction: column-reverse;
        height: 76.7vh;
    }

    .right-content {
        width: 100%;
        height: 50%;
    }

    .dev-img {
        width: 60%;
        margin: 0;
    }

    .left-content {
        width: 100%;
        height: 44%;
    }

    .left-content .name {
        font-size: 2.2rem;
    }

    .disc #element {
        display: inline-block;
    }

    .left-content .disc {
        font-size: 2.1rem;
        text-align: center;
    }


    /* projects page responsiveness */

    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
        overflow: scroll;
    }

    .items {
        display: flex;
        justify-content: center;
    }

    #last-item {
        margin-bottom: 15px;
    }

    .text {
        font-size: 1rem;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img img {
        width: 80%;
        padding: 10px 0;
    }

    .items a {
        border-radius: 15px;
        margin: 5px;
    }

    .items a:hover .text {
        font-size: 1.1rem;
        padding: 10px 0;
    }

    /* contact page responsiveness */

    .wrapper {
        width: 85%;
        height: 90%;
    }

    #btn-submit {
        width: 100%;
    }

    /* contact result responsiveness */

    .contact-res-container {
        height: 76.7vh;
    }

    .contents {
        width: 95%;
        height: 65%;
    }

    .data-table {
        width: 97%;
        height: 70%;
    }

    .datas {
        font-size: 1.1rem;
        text-align: center;
    }

    .result{
        padding: 2px;
        overflow: scroll;
    }

}