/* navbar responsiveness */

@media only screen and (max-width: 426px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
        right: 15px;
        top: 5px;
    }

    .left {
        width: auto;
    }

    .left .box {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .center {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .center a {
        margin-left: unset;
        padding: 5px 0;
    }

    .right {
        width: 100%;
        padding: 6px 0;
    }

    /* index page responsiveness */

    .home-container {
        flex-direction: column-reverse;
        height: 76.7vh;
    }

    .right-content {
        width: 100%;
        height: 50%;
    }

    .dev-img {
        width: 60%;
        margin: 0;
    }

    .left-content {
        width: 100%;
        height: 44%;
    }

    .left-content .name {
        font-size: 2.2rem;
    }

    .disc #element {
        display: inline-block;
    }

    .left-content .disc {
        font-size: 2.1rem;
        text-align: center;
    }

    /* about page responsiveness */

    .about-container {
        height: unset;
    }

    .details {
        width: 80vw;
        margin-top: 5px;
    }

    .qualification h2 {
        font-size: 1.8rem;
    }

    .rows-cols {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4, auto);
        overflow: scroll;
    }

    .rows-cols .headings {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .rows-cols .values {
        font-size: 1.18rem;
    }

    .expertise {
        height: 88vh;
    }

    .expertise h2 {
        font-size: 2rem;
    }

    .expert-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        width: 90%;
        height: 85%;
    }

    .box-display{
        border-radius: 15px;
    }

    .box-display h3 {
        font-size: 1.3rem;
    }

    .box-display ul {
        font-size: 1.1rem;
    }

    .box-display:hover h3 {
        font-size: 1.4rem;
    }

    .box-display:hover ul li {
        list-style-type: disclosure-closed;
        font-size: 1.2rem;
    }

    /* projects page responsiveness */

    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
        overflow: scroll;
    }

    .items {
        display: flex;
        justify-content: center;
    }

    #last-item {
        margin-bottom: 15px;
    }

    .text {
        font-size: 1rem;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img img {
        width: 80%;
        padding: 10px 0;
    }

    .items a {
        border-radius: 15px;
        margin: 5px;
    }

    .items a:hover .text {
        font-size: 1.1rem;
        padding: 10px 0;
    }

    /* websites page responsiveness */

    .websites {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        height: 90%;
    }

    .views img {
        width: 80vw;
    }

    .view-text {
        font-size: 1.3rem;
    }

    /* contact page responsiveness */

    .wrapper {
        width: 85%;
        height: 90%;
    }

    #btn-submit {
        width: 100%;
    }

    /* contact result responsiveness */

    .contact-res-container {
        height: 76.7vh;
    }

    .contents {
        width: 95%;
        height: 65%;
    }

    .data-table {
        width: 97%;
        height: 70%;
    }

    .datas {
        font-size: 1.1rem;
        text-align: center;
    }

    .result {
        padding: 2px;
        overflow: scroll;
    }

}
