* {
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    background-color: #322f2f;
}

.burger-activity {
    display: flex !important;
}

.burger {
    position: absolute;
    top: 2px;
    right: 10px;
    display: none;
}

.burger-line {
    margin: 5px 0px;
    width: 1.7rem;
    height: 0.3rem;
    background-color: white;
    border-radius: 5px;
}

.left {
    width: 15%;
}

.left .box {
    width: 30px;
    height: 30px;
    background-color: crimson;
    border-radius: 15px;
    margin: 5px 25px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
}

.center a {
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.center a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s;
}

.center a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}

.right {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.right input {
    font-size: 1rem;
    padding: 3px 40px;
    margin: 0px 5px;
    border-radius: 15px;
    outline: none;
    border: 2px solid black;
}


.right button {
    font-size: 13px;
    border-radius: 15px;
    padding: 0px 3px;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
}

.right button:hover {
    background-color: #c8c8c8;
}

/* footer of the page */
footer {
    background-color: #322f2f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0px;
}

footer h5 {
    font-size: 1rem;
    padding-top: 7px;
}

footer h6 {
    font-size: 0.8rem;
    padding: 8px 0px;
}